<content id="metadata" type="x-handlebars-metadata">
  {
    "fields": ["Path", "LastModifiedTime", "Title", "EditorOWSUSER", "Author", "BannerImageUrlOWSURLH", "PictureThumbnailURL", "Description", "ValoPeoplePositionOWSTEXT", "ValoPeopleLinkedInUrlOWSTEXT", "ValoPeopleFacebookUrlOWSTEXT", "ValoPeopleTwitterUrlOWSTEXT", "ValoPeopleWebsiteUrlOWSTEXT", "LayoutWebpartsContentOWSHTML"],
    "query": "ContentTypeId:0x0101009D1CB255DA76424F860D91F20E6C411800A984D1BDCA108B4D8E13AD19CD120C28*",
    "sorting": "Created:descending",
    "totalResults": 3,
    "parameters": [
      {
        "name": "ShowMoreTitle",
        "value": "Read more",
        "description": "Title for show more link"
      },
      {
        "name": "ShowMoreUrl",
        "value": "",
        "description": "Url for show more link"
      },
      {
        "name": "ShowMoreTarget",
        "value": "_blank",
        "description": "Target for show more link"
      },
      {
        "name": "UseThumbnailImages",
        "value": "false",
        "options": ["true","false"],
        "description": "universalBannerUseThumbnailImagesDesc"
      },
      {
        "name": "UseImageLazyLoading",
        "value": "true",
        "options": ["true","false"],
        "description": "universalBannerUseImageLazyLoadingDesc"
        }
    ]
  }
</content>

 <!-- Initialize batched PageImageInfo requests-->
 {{prepareBatchPageImageInfoPromises dsData.items}}

<content id="template" type="x-handlebars-template">
  <style>
    .valo-our-people__item-link {
      cursor: pointer;
    }
  </style>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="ms-Grid vm-Grid">
    {{setVariable "id" (randomId "ourPeople")}}
    {{setVariable "canUseIntersectionObserver" (useIntersectionObserver parameters.UseImageLazyLoading) }}
    <div class="ms-Grid-row vm-Cards vm-Grid-row valo-our-people__list" id="{{@root.id}}">
      {{#each dsData.items}}
        {{setVariable "elementId" (generateId)}}
        <div class="ms-sm4 vm-Card valo-our-people__item showTransition">
          <div class="valo-our-people__item-wrapper">
            <valo-link   unique-id="id-{{@root.elementId}}" page-url="{{Path}}" localization="{{json (getValoOpenLinkLocalization)}}"></valo-link>
            <div class="valo-our-people__item-link" id="id-{{@root.elementId}}">
              <div class="valo-our-people__item__banner">
                {{#if PictureThumbnailURL}}
                  <valo-image-focal-point css-names="valo-our-people__item__banner-parallax parallaxSlow" img-url="{{imageResolution PictureThumbnailURL 4 null null ../parameters.UseThumbnailImages}}" item-id="{{ListItemID}}" list-id="{{ListID}}" site-url="{{SPWebUrl}}" layout-content="{{LayoutWebpartsContentOWSHTML}}" observer-support="{{@root.canUseIntersectionObserver}}"></valo-image-focal-point>
                {{else}}
                  <valo-image-focal-point css-names="valo-our-people__item__banner-parallax parallaxSlow" img-url="{{imageResolution BannerImageUrlOWSURLH 4 null null ../parameters.UseThumbnailImages}}" item-id="{{ListItemID}}" list-id="{{ListID}}" site-url="{{SPWebUrl}}" layout-content="{{LayoutWebpartsContentOWSHTML}}" observer-support="{{@root.canUseIntersectionObserver}}"></valo-image-focal-point>
                {{/if}}
              </div>
              <div class="valo-our-people__item-info">
                <p role="heading" aria-level="3" class="valo-our-people__item-info__name">{{Title}}</p>
                <span class="valo-our-people__item-info__position">
                  {{#if ValoPeoplePositionOWSTEXT}} {{ ValoPeoplePositionOWSTEXT }} {{/if}}
                </span>
                <p class="valo-our-people__item-info__abstract">{{ellipsis Description 120}}</p>
              </div>
            </div>
            <div class="valo-our-people__item__info-links">
              {{#if ValoPeopleFacebookUrlOWSTEXT}}
              <a href="{{ValoPeopleFacebookUrlOWSTEXT}}" aria-label="Facebook" class="fa fa-facebook"></a>
              {{/if}}
              {{#if ValoPeopleTwitterUrlOWSTEXT}}
              <a href="{{ValoPeopleTwitterUrlOWSTEXT}}" aria-label="Twitter" class="fa fa-twitter"></a>
              {{/if}}
              {{#if ValoPeopleLinkedInUrlOWSTEXT}}
              <a href="{{ValoPeopleLinkedInUrlOWSTEXT}}" aria-label="Linkedin" class="fa fa-linkedin"></a>
              {{/if}}
              {{#if ValoPeopleWebsiteUrlOWSTEXT}}
              <a href="{{ValoPeopleWebsiteUrlOWSTEXT}}" aria-label="Personal website" class="fa fa-globe"></a>
              {{/if}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{#if parameters.ShowMoreUrl}}
  <div class="valo-showMore">
    {{#ifCond parameters.ShowMoreTarget "==" "_blank"}}
      <a href="{{parameters.ShowMoreUrl}}" target="{{parameters.ShowMoreTarget}}" data-interception="off">{{parameters.ShowMoreTitle}}</a>
    {{else}}
      <a href="{{parameters.ShowMoreUrl}}" target="{{parameters.ShowMoreTarget}}">{{parameters.ShowMoreTitle}}</a>
    {{/ifCond}}
  </div>
  {{/if}}

</content>

<content id="placeholder" type="x-handlebars-template">
  <div class="ms-Grid">
    <div class="ms-Grid-row vm-Cards placeholder">
      <div class="ms-sm12 vm-Card valo-our-people__item">
          <div class="valo-our-people__item-wrapper">
            <div class="valo-our-people__item-link">
            <div class="valo-our-people__item__banner">
              <div class="valo-our-people__item__banner-parallax lazy" style="background-image:url('/_layouts/15/images/sitepagethumbnail.png');"></div>
            </div>
            <div class="valo-our-people__item-info">
              <p class="valo-our-people__item-info__name"></p>
              <div class="valo-our-people__item-info__position"></div>
              <div class="valo-our-people__item-info__abstract"></div>
              <div class="valo-our-people__item__info-links"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</content><head><title>Our People</title></head>
