<content id="metadata" type="x-handlebars-metadata">
  {
    "parameters": [
      {
        "name":"chartColors",
        "value": "#29417C,#C1517F,#F9B40D,#6a7eb1,#da8eae,#fcd16c,#adb9d8,#edc3d5,#fde8b5,#5978AA,#6d2e48,#F9D285,#6986b5,#933e61,#fbd893,#92a8cd,#ae4973,#fce4b5,#c5d1e6,#C1517F,#fdf2da,#3a518d,#c9628d,#fbbc29",
        "description": "Provide colors that are going to be used to render chart"
      },
      {
        "name":"itemsCount",
        "value": "10",
        "description": "Items count to display"
      }
    ]
  }
</content>

<content id="template" type="x-handlebars-template">
  <div width="400px" height="400px">
    <canvas id="{{ dsData.elementId }}"></canvas>
    {{#if dsData.chartJsConfiguration }}
      {{ drawChartJs dsData.elementId dsData.chartJsConfiguration }}
    {{else}}
      <div id="uniqueUsers-tyGraph">Loading chart....</div>
    {{/if}}
  </div>
</content>
